[Unit]
Description="Kafka - Distributed streaming platform"
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
ExecStart=/usr/bin/kafka-server-start ./etc/kafka/server.properties
Restart=always

[Install]
WantedBy=multi-user.target
