[Unit]
Description="Zookeeper - A distributed co-ordination service"

[Service]
Type=simple
ExecStart=/usr/bin/zookeeper-server-start ./etc/kafka/zookeeper.properties
Restart=always

[Install]
WantedBy=multi-user.target
